* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    color: #333;
  }
    main {
      margin-left: 0;
      padding: 10px;
    }
   

